/*
 Theme Name:   Bricks Child Theme
 Theme URI:    https://bricksbuilder.io/
 Description:  Use this child theme to extend Bricks.
 Author:       Bricks
 Author URI:   https://bricksbuilder.io/
 Template:     bricks
 Version:      1.1
 Text Domain:  bricks

/* Posts Slider Custom Element CSS */
.brxe-posts-slider {
  min-height: 767px;
  position: relative;
}
.brxe-posts-slider .swiper-pagination {
  bottom: 20px;
}
.brxe-posts-slider .swiper-pagination .swiper-pagination-bullet {
  background-color: #fbd9d3;
}
.brxe-posts-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ed4023;
}
.posts-slider-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow before JS init */
}
.post-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.post-thumb img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.post-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.post-title {
  margin: 0 0 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Montserrat";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-title a {
  text-decoration: none;
  color: #16567b;
}
.post-excerpt {
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 24px;
  line-height: 24px;
  font-family: "Montserrat";
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Meta */
.post-meta {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: auto;
}
.meta-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
.meta-info {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}
.meta-author {
  font-weight: 600;
  color: #000000;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 28px;
}
.meta-date-comments {
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 24px;
}

/* Read More */
.post-read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #ed4023;
  color: #ed4023;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 400;
  transition: all 0.2s;
  font-size: 14px;
  line-height: 20px;
  font-family: "DM Sans";
}
.post-read-more:hover {
  background: #f8b3a7;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
}
